body{
    background-color:black;
}



.page {
    width: 80%;
    max-width: 960px;
    margin: 50px auto;
    text-align: center;
    background-color: #f16059;
    border-radius: 5px;
  }

header{

    font-size: 24px;
    line-height: 48px;
  }
h1{

    font-size: 21px;
    font-family: 'Bungee Shade', cursive;
}
#clock { 

    background-color:crimson;
    font-size: 121px; 
    width: 900px;
    height: 150px; 
    margin: 200px; 
    text-align: center; 
    border: 2px solid black; 
    border-radius: 10px; 
    
  } 